.header {
    color: #4E5166;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px #4E5166;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
    width:100%;
}
.title{
    padding-left: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title h1 {
    padding-right: 15px;
}

.logo {
    height: 45px;
	width: 45px;
}
.menu {
    font-size: 20px;
    list-style: none;
          display: flex;
          flex-direction: row;
          text-align: center;
          margin-top: 0px;
}

.menu a
        {
          margin-bottom: 15px;
          width:130px;
          padding-top: 10px;
          text-decoration: none;
        }
